Node-RED/flow-dashboard.json
[
    {
        "id": "mqtt_broker_emqx",
        "type": "mqtt-broker",
        "name": "EMQX Public Broker",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "tab_dashboard",
        "type": "tab",
        "label": "Smart Agri-Patrol Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ui_group_control",
        "type": "ui_group",
        "name": "Robot Control",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_group_sensor",
        "type": "ui_group",
        "name": "Sensor Data",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Smart Agri-Patrol",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "node_mode_switch",
        "type": "ui_switch",
        "z": "tab_dashboard",
        "name": "Mode Switch",
        "label": "Patrol Mode",
        "tooltip": "Toggle between Manual and Patrol mode",
        "group": "ui_group_control",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "robot/mode",
        "topicType": "str",
        "style": "",
        "onvalue": "P",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "M",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "node_mqtt_mode_pub"
            ]
        ]
    },
    {
        "id": "node_mqtt_mode_pub",
        "type": "mqtt out",
        "z": "tab_dashboard",
        "name": "Publish Mode",
        "topic": "robot/mode",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_emqx",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "node_control_forward",
        "type": "ui_button",
        "z": "tab_dashboard",
        "name": "Forward",
        "group": "ui_group_control",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "↑",
        "tooltip": "Move Forward",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "F",
        "payloadType": "str",
        "topic": "robot/control",
        "topicType": "str",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "node_mqtt_control_pub"
            ]
        ]
    },
    {
        "id": "node_control_left",
        "type": "ui_button",
        "z": "tab_dashboard",
        "name": "Left",
        "group": "ui_group_control",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "←",
        "tooltip": "Turn Left",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "L",
        "payloadType": "str",
        "topic": "robot/control",
        "topicType": "str",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "node_mqtt_control_pub"
            ]
        ]
    },
    {
        "id": "node_control_stop",
        "type": "ui_button",
        "z": "tab_dashboard",
        "name": "Stop",
        "group": "ui_group_control",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "STOP",
        "tooltip": "Stop",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "S",
        "payloadType": "str",
        "topic": "robot/control",
        "topicType": "str",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "node_mqtt_control_pub"
            ]
        ]
    },
    {
        "id": "node_control_right",
        "type": "ui_button",
        "z": "tab_dashboard",
        "name": "Right",
        "group": "ui_group_control",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "→",
        "tooltip": "Turn Right",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "R",
        "payloadType": "str",
        "topic": "robot/control",
        "topicType": "str",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "node_mqtt_control_pub"
            ]
        ]
    },
    {
        "id": "node_control_backward",
        "type": "ui_button",
        "z": "tab_dashboard",
        "name": "Backward",
        "group": "ui_group_control",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "↓",
        "tooltip": "Move Backward",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "B",
        "payloadType": "str",
        "topic": "robot/control",
        "topicType": "str",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "node_mqtt_control_pub"
            ]
        ]
    },
    {
        "id": "node_mqtt_control_pub",
        "type": "mqtt out",
        "z": "tab_dashboard",
        "name": "Publish Control",
        "topic": "robot/control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_emqx",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "node_mqtt_data_sub",
        "type": "mqtt in",
        "z": "tab_dashboard",
        "name": "Subscribe Data",
        "topic": "robot/data",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_emqx",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "node_parse_json"
            ]
        ]
    },
    {
        "id": "node_parse_json",
        "type": "json",
        "z": "tab_dashboard",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 440,
        "wires": [
            [
                "node_split_temp",
                "node_split_hum"
            ]
        ]
    },
    {
        "id": "node_split_temp",
        "type": "change",
        "z": "tab_dashboard",
        "name": "Extract Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 420,
        "wires": [
            [
                "node_gauge_temp",
                "node_chart_temp"
            ]
        ]
    },
    {
        "id": "node_split_hum",
        "type": "change",
        "z": "tab_dashboard",
        "name": "Extract Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 460,
        "wires": [
            [
                "node_gauge_hum",
                "node_chart_hum"
            ]
        ]
    },
    {
        "id": "node_gauge_temp",
        "type": "ui_gauge",
        "z": "tab_dashboard",
        "name": "Temperature",
        "group": "ui_group_sensor",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "35",
        "className": "",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "node_gauge_hum",
        "type": "ui_gauge",
        "z": "tab_dashboard",
        "name": "Humidity",
        "group": "ui_group_sensor",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 700,
        "y": 460,
        "wires": []
    },
    {
        "id": "node_chart_temp",
        "type": "ui_chart",
        "z": "tab_dashboard",
        "name": "Temperature History",
        "group": "ui_group_sensor",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "Temperature History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "node_chart_hum",
        "type": "ui_chart",
        "z": "tab_dashboard",
        "name": "Humidity History",
        "group": "ui_group_sensor",
        "order": 4,
        "width": "6",
        "height": "4",
        "label": "Humidity History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "node_debug",
        "type": "debug",
        "z": "tab_dashboard",
        "name": "Debug Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 500,
        "wires": []
    }
]