Node-RED/flow-dashboard.json
[
    {
        "id": "mqtt_broker_new",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud - Smart Agri Patrol",
        "broker": "89288a44b913422cb31b59472927642a.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "tls_config_new",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "credentials": {
            "user": "kelompok9_terbaru123",
            "password": "AgriPatro123l123!"
        }
    },
    {
        "id": "tls_config_new",
        "type": "tls-config",
        "name": "HiveMQ TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "89288a44b913422cb31b59472927642a.s1.eu.hivemq.cloud",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "tab_dashboard",
        "type": "tab",
        "label": "Smart Agri-Patrol Dashboard",
        "disabled": false,
        "info": "Dashboard kontrol robot patrol pertanian dengan sensor suhu & kelembaban"
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Robot Control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_control",
        "type": "ui_group",
        "name": "Mode & Control",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_sensor",
        "type": "ui_group",
        "name": "Sensor Data",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "mqtt_in_sensor",
        "type": "mqtt in",
        "z": "tab_dashboard",
        "name": "🤖 Robot Sensor Data",
        "topic": "robot/data",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_new",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            ["json_parser", "debug_sensor"]
        ]
    },
    {
        "id": "json_parser",
        "type": "json",
        "z": "tab_dashboard",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 100,
        "wires": [
            ["split_temp", "split_hum"]
        ]
    },
    {
        "id": "split_temp",
        "type": "change",
        "z": "tab_dashboard",
        "name": "Extract Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 80,
        "wires": [
            ["gauge_temp", "chart_temp"]
        ]
    },
    {
        "id": "split_hum",
        "type": "change",
        "z": "tab_dashboard",
        "name": "Extract Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 120,
        "wires": [
            ["gauge_hum", "chart_hum"]
        ]
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "z": "tab_dashboard",
        "name": "Temperature",
        "group": "ui_group_sensor",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "35",
        "className": "",
        "x": 770,
        "y": 80,
        "wires": []
    },
    {
        "id": "gauge_hum",
        "type": "ui_gauge",
        "z": "tab_dashboard",
        "name": "Humidity",
        "group": "ui_group_sensor",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#00b500"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "chart_temp",
        "type": "ui_chart",
        "z": "tab_dashboard",
        "name": "Temperature Chart",
        "group": "ui_group_sensor",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "Temperature History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "chart_hum",
        "type": "ui_chart",
        "z": "tab_dashboard",
        "name": "Humidity Chart",
        "group": "ui_group_sensor",
        "order": 4,
        "width": "6",
        "height": "4",
        "label": "Humidity History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "button_manual",
        "type": "ui_button",
        "z": "tab_dashboard",
        "name": "Manual Mode",
        "group": "ui_group_control",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "MANUAL",
        "tooltip": "Switch to Manual Control",
        "color": "",
        "bgcolor": "#3498db",
        "className": "",
        "icon": "fa-hand-paper-o",
        "payload": "M",
        "payloadType": "str",
        "topic": "robot/mode",
        "topicType": "str",
        "x": 140,
        "y": 300,
        "wires": [
            ["mqtt_out_mode"]
        ]
    },
    {
        "id": "button_patrol",
        "type": "ui_button",
        "z": "tab_dashboard",
        "name": "Patrol Mode",
        "group": "ui_group_control",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "PATROL",
        "tooltip": "Switch to Auto Patrol",
        "color": "",
        "bgcolor": "#27ae60",
        "className": "",
        "icon": "fa-crosshairs",
        "payload": "P",
        "payloadType": "str",
        "topic": "robot/mode",
        "topicType": "str",
        "x": 140,
        "y": 340,
        "wires": [
            ["mqtt_out_mode"]
        ]
    },
    {
        "id": "mqtt_out_mode",
        "type": "mqtt out",
        "z": "tab_dashboard",
        "name": "🔄 Change Mode",
        "topic": "robot/mode",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_new",
        "x": 370,
        "y": 320,
        "wires": []
    },
    {
        "id": "button_forward",
        "type": "ui_button",
        "z": "tab_dashboard",
        "name": "Forward",
        "group": "ui_group_control",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "↑",
        "tooltip": "Move Forward",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "F",
        "payloadType": "str",
        "topic": "robot/control",
        "topicType": "str",
        "x": 140,
        "y": 420,
        "wires": [
            ["mqtt_out_control"]
        ]
    },
    {
        "id": "button_left",
        "type": "ui_button",
        "z": "tab_dashboard",
        "name": "Left",
        "group": "ui_group_control",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "←",
        "tooltip": "Turn Left",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "L",
        "payloadType": "str",
        "topic": "robot/control",
        "topicType": "str",
        "x": 130,
        "y": 460,
        "wires": [
            ["mqtt_out_control"]
        ]
    },
    {
        "id": "button_stop",
        "type": "ui_button",
        "z": "tab_dashboard",
        "name": "Stop",
        "group": "ui_group_control",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "⏹",
        "tooltip": "Stop",
        "color": "",
        "bgcolor": "#e74c3c",
        "className": "",
        "icon": "",
        "payload": "S",
        "payloadType": "str",
        "topic": "robot/control",
        "topicType": "str",
        "x": 130,
        "y": 500,
        "wires": [
            ["mqtt_out_control"]
        ]
    },
    {
        "id": "button_right",
        "type": "ui_button",
        "z": "tab_dashboard",
        "name": "Right",
        "group": "ui_group_control",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "→",
        "tooltip": "Turn Right",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "R",
        "payloadType": "str",
        "topic": "robot/control",
        "topicType": "str",
        "x": 130,
        "y": 540,
        "wires": [
            ["mqtt_out_control"]
        ]
    },
    {
        "id": "button_backward",
        "type": "ui_button",
        "z": "tab_dashboard",
        "name": "Backward",
        "group": "ui_group_control",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "↓",
        "tooltip": "Move Backward",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "B",
        "payloadType": "str",
        "topic": "robot/control",
        "topicType": "str",
        "x": 140,
        "y": 580,
        "wires": [
            ["mqtt_out_control"]
        ]
    },
    {
        "id": "mqtt_out_control",
        "type": "mqtt out",
        "z": "tab_dashboard",
        "name": "📤 Control Robot",
        "topic": "robot/control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_new",
        "x": 380,
        "y": 500,
        "wires": []
    },
    {
        "id": "debug_sensor",
        "type": "debug",
        "z": "tab_dashboard",
        "name": "Debug Sensor Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 40,
        "wires": []
    }
]